<ion-view view-title="Entrar">

<!--   <ion-nav-buttons side="right">
            <a href="#/app/favoritos" class="button button-icon icon ion-heart"></a>
            <button class="button button-icon icon ion-more" ng-click="showNotLoggedinSheet()"></button>
        </ion-nav-buttons> -->

    <ion-content has-bouncing="false">
        <button class="button button-positive button-block">Entrar com Facebook</button>
        <div class="text-center">Política de privacidade</div>
    </ion-content>
</ion-view>
