<ion-view view-title="Perfil">
    <ion-content has-bouncing="false" class="content-default">
        <div class="profile-cover" style="background-image: url(img/profile_cover.jpg)">
        </div>
        <div class="profile-card profile-card-no-top">
            
            <div class="row">
                <div class="col">
                    <img src="img/katy.jpg" class="profile-avatar tey">    
                </div>
                <div class="col text-right profile-col-heart-btn">
                    <button class="button button-assertive profile-heart-btn">
                        <span class="icon ion-heart"></span>
                    </button>
                    <button class="button button-balanced profile-heart-btn" style="margin-left: 10px">
                        <span class="icon ion-android-call"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col profile-title">
                    Katy Perry
                </div>
            </div>
            <div class="profile-labels">
                <div class="row">
                    <div class="col">
                        <span class="label label-default">
                            Extração de dente
                        </span>
                        <span class="label label-default">
                            Limpeza
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-card">
            <div class="profile-card-body">
                <div class="row">
                    <div class="col">
                        <h3 class="profile-card-title">Conforto, Volta Redonda - RJ</h3>
                        <p>Vila Santa cecília, Edifício Cecisa II, sala 5.</p>  
                    </div>
                </div>

<!--                 <div class="profile-card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="button button-light button-clear">
                                <span class="icon ion-ios-location"></span> Localização
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-light button-clear">
                                <span class="icon ion-android-call"></span> LIGAR
                            </button>
                        </div>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col">Segunda Feira</div>
                    <div class="col text-right">08:00 às 09:00</div>
                </div>
                <div class="row">
                    <div class="col">Terça Feira</div>
                    <div class="col text-right">08:00 às 09:00</div>
                </div>
                <div class="row">
                    <div class="col">Terça Feira</div>
                    <div class="col text-right">08:00 às 09:00</div>
                </div>
                <div class="row">
                    <div class="col">Terça Feira</div>
                    <div class="col text-right">08:00 às 09:00</div>
                </div>
                <div class="row">
                    <div class="col">Terça Feira</div>
                    <div class="col text-right">08:00 às 09:00</div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
