<ion-view view-title="">
      <ion-nav-bar class="bar-clear">
            <ion-nav-back-button>
            </ion-nav-back-button>
      </ion-nav-bar>
    <ion-content has-bouncing="false" class="content-default fill-content-height" bar-clear="true">

        <div class="perfil-container">
            <div class="perfil-cover"></div>
            <div class="perfil-title-container">
                <div class="perfil-title-col padding-left padding-bottom perfil-title-col-avatar" style="">
                    <div style="background-image: url(img/katy.jpg)" class="perfil-avatar"></div>  
                </div>
                <div class="perfil-title-col padding-top padding-right" style="">
                    <button class="button button-assertive btn-circle">
                        <span class="icon ion-heart"></span>
                    </button>
                    <button class="button button-balanced btn-circle" style="margin-left: 6px">
                        <span class="icon ion-android-call"></span>
                    </button>
                </div>
            </div>

            <div class="perfil-name-container padding">
                Katy Perry
            </div>

            <div class="perfil-bio-container padding">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            </div>
            <div class="perfil-labels-container padding perfil-container-border-bottom perfil-container-margin-bottom">
                <span class="label label-default">
                    Extração de dente
                </span>
                <span class="label label-default">
                    Limpeza
                </span>

                <div class="padding-bottom"></div>

            </div>

            <div class="perfil-map-container perfil-container-border-top" style="background-image: url(img/map.png);">
                
            </div>

            <div class="perfil-address-container">
                <div class="perfil-address-col perfil-address-col-text padding" style="">
                    
                    <div class="padding-bottom"></div>

                    <div class="perfil-address-title">Conforto, Volta Redonda / RJ</div>
                    <div>Vila Santa cecília, Edifício Cecisa II, sala 5.</div>  
                    
                    <div class="padding-bottom"></div>

                </div>
                <div class="perfil-address-col padding-right" style="">
                    <button class="button button-positive btn-circle btn-address">
                        <span class="icon ion-ios-location"></span>
                    </button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
