<ion-view view-title="Katy Perry">
      <!-- <ion-nav-bar class="bar-clear">
            <ion-nav-back-button>
            </ion-nav-back-button>
      </ion-nav-bar> -->
    <ion-content has-bouncing="false" class="content-default fill-content-height" bar-clear="false">

        <div class="perfil-container">


            <div class="perfil-header" style="padding: 60px 10px 30px 10px;">
                <div class="row">
                    <div class="col text-center">
                        <button class="button button-assertive btn-circle">
                            <span class="icon ion-heart"></span>
                        </button>
                    </div>
                    <div class="col">
                        <div style="background-image: url(img/katy.jpg); border-radius: 100%; width: 130px; height: 130px" class="perfil-avatar"></div>  
                    </div>
                    <div class="col text-center">
                        <button class="button button-balanced btn-circle">
                            <span class="icon ion-android-call"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="perfil-bio-container padding text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            </div>
            <div class="perfil-labels-container padding perfil text-center">
                <span class="label label-default">
                    Extração de dente
                </span>
                <span class="label label-default">
                    Limpeza
                </span>

                <div class="padding-bottom"></div>

            </div>

            <div class="perfil-map-container" style="background-image: url(img/profile_cover.jpg);">
                
            </div>

            <div class="perfil-address-container">
                <div class="perfil-address-col perfil-address-col-text padding" style="">
                    
                    <div class="padding-bottom"></div>

                    <div class="perfil-address-title">Conforto, Volta Redonda / RJ</div>
                    <div>Vila Santa cecília, Edifício Cecisa II, sala 5.</div>  
                    
                    <div class="padding-bottom"></div>

                </div>
                <div class="perfil-address-col padding-right" style="">
                    <button class="button button-positive btn-circle btn-address">
                        <span class="icon ion-ios-location"></span>
                    </button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
