<ion-modal-view>
	<ion-header-bar>
		<button
			class="button button-clear button-assertive"
			ng-click="cancelFilter()">
			Cancelar
		</button>
		
		<button
			class="button button-clear button-positive"
			ng-click="saveFilter()">
			Nova Busca
		</button>
	</ion-header-bar>
	<ion-content>

		<div class="padding">
			<div class="button-bar">
			  <button
			  ng-click="setSearchType(1)"

			  	class="button icon-left ion-ios-location  button-stable"
			  	ng-class="{'active' : filter.searchType == 1}">
					Por Cidade
			  </button>
			  <button
			  	ng-click="setSearchType(2)"
			  	class="button icon-left ion-android-locate button-stable"
			  	ng-class="{'active' : filter.searchType == 2}">
			  	Por Distância
			  </button>
			</div>
		</div>

<div class="list">
<!-- 			<div class="item item-toggle">
				Por distância
				<label class="toggle toggle-positive">
					<input type="checkbox" ng-model="filter.byDistance">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div> -->
<!-- 			<ion-radio ng-model="filter.type" ng-value="'byCity'">
				<span class="icon ion-edit"></span> Por Cidade
			</ion-radio> -->
			<!-- <ion-radio ng-model="filter.type" ng-value="'byDistance'">Por Distância</ion-radio> -->

			<div ng-if="filter.searchType == 1">
				<label class="item item-input item-select">
					<div class="input-label">
						Escolher cidade
					</div>
					<select
						ng-model="filter.selectedCity"
						ng-options="city.name for city in cities track by city.id">
					</select>
				</label>
			</div>

			<div ng-if="filter.searchType == 2">
				<div class="item range range-positive">
					<input type="range" ng-model="filter.distance" min="3" max="30">
				</div>
				<div class="text-center">
					<div style="font-size: 18px; font-weight: bold;">{{filter.distance}} KM</div>
				</div>
			</div>
		</div>

		<ion-list>
			<ion-item class="item-divider">
				Serviços
			</ion-item>
			<ion-checkbox
				ng-model="filter.services[key]"
				ng-repeat="(key, service) in services">
				{{service.name}}
			</ion-checkbox>
		</ion-list>
	</ion-content>
</ion-modal-view>